.topbarContainer{
    background-color: #08022e;
    height: 50px;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
}

.topbarLeft{
    flex: 3;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.topbarCenter{
    flex: 5;
}

.Searchbar{
    width: 100%;
    height: 32px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 24px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLinks{
        display: flex;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.topbarIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topbarIconItem{
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

